.accessible-hide, .skip-nav {
    position:absolute;
    left:-9999px;
}
.skip-nav:focus {
    position: absolute;
    left:0;
    top:0;
    display: inline-block;
    padding:1em;
    background: #eee;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}
.site-title {
    font-size: calc(64em/16);
}
.site-nav, .main-content {
    font-size: calc(24em/16);
}
@media all and (min-width: 550px) {
    .site-title {
        font-size: calc(80em/16);
    }
    .site-nav, .main-content {
        font-size: calc(28em / 16);
    }
}
@media all and (min-width: 900px) {
    .site-title {
        font-size: calc(96em/16);
    }
    .site-nav, .main-content {
        font-size: calc(32em / 16);
    }
}
@media all and (min-width: 1250px) {
    .site-title {
        font-size: calc(120em/16);
    }
    .site-nav, .main-content {
        font-size: calc(36em / 16);
    }
}
.site-nav {
    font-style: italic;
}
.site-nav ul, .site-nav li {
    list-style: none;
    margin:0;
    padding:0;
}
.site-nav a {
    color: #000;
    text-decoration: none;
}
.site-nav em {
    border-bottom:calc(1em/24) solid #ccc;
}
