body {
    font-family: 'Fanwood Text', serif;
    padding:6% 7.5%;
}
* {
    transition: all 0.5s ease-out;
    box-sizing: border-box;
}
img {
    max-width: 100%;
    height: auto;
}
a:link, a:visited {
    color: inherit;
    text-decoration-color: #ccc;
}
a:focus, a:hover, a:active {
    text-decoration-color:deepskyblue;
}
.accessible-hide, .skip-nav {
    position:absolute;
    left:-9999px;
}
.skip-nav:focus {
    position: absolute;
    left:0;
    top:0;
    display: inline-block;
    padding:1em;
    background: #eee;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}
.site-title {
    font-size: calc(56rem/16);
    margin:0;
    line-height: 1;
}
.site-nav, .main-content {
    font-size: calc(24rem/16);
    line-height: calc(32/24);
}
hr {
    width:3rem;
    height:1px;
    border:none;
    padding:0;
    background: #ccc;
    margin:1rem 0;
}
@media all and (min-width: 400px) {
    .site-title {
        font-size: calc(64rem/16);
    }
}
@media all and (min-width: 550px) {
    .site-title {
        font-size: calc(72rem/16);
    }
    .site-nav, .main-content {
        font-size: calc(28rem / 16);
        line-height: calc(38/28);
    }
}
@media all and (min-width: 750px) {
    .site-title {
        font-size: calc(80rem/16);
    }
}
@media all and (min-width: 900px) {
    .site-title {
        font-size: calc(96rem/16);
    }
    .site-nav, .main-content {
        font-size: calc(32rem / 16);
        line-height: calc(43/32);
    }
}
@media all and (min-width: 1250px) {
    .site-title {
        font-size: calc(120rem/16);
    }
    .site-nav, .main-content {
        font-size: calc(36rem / 16);
        line-height: calc(48/36);
    }
}

.site-nav {
    font-style: italic;
}
.site-nav ul, .site-nav li {
    list-style: none;
    margin:0;
    padding:0;
}
.site-title a, .site-nav a {
    color: #000;
    text-decoration: none;
    border-bottom:calc(1rem/16) solid #fff;
}
.site-title a:active, .site-nav a:active, .site-title a:hover, .site-nav a:hover, .site-title a:focus, .site-nav a:focus {
    border-color:deepskyblue;
}
.site-nav em {
    border-bottom:calc(1rem/16) solid #ccc;
}
.site-nav--home {
    padding-top:0.5rem;
}
.site-nav--home li {
    margin-top: calc(1rem);
}
.site-nav--home li:first-child {
    margin-top:0;
}
@media all and (min-width: 700px) {
    .site-header {
        display: flex;
        width:100%;
        align-items: baseline;
    }
    .site-nav--internal {
        flex-grow:1;
        text-align:right;
    }
}
.site-nav--internal ul {
    display:inline;
}
.site-nav--internal li {
    display:inline-block;
    margin-left:1rem;
}
.site-nav--internal li:first-child {
    margin-left:0;
}
.main-content {
    margin:3rem 0 6rem;
}
.main-content li {
    margin-top:0.333em;
    margin-bottom:0.333em;
}
.main-content li li {
    font-size:88%;
}
.pairing__secondary {
    font-size: 75%;
}
@media all and (min-width: 700px) {
    .pairing {
        display: flex;
        width:100%;
        margin-left:-1em;
    }
    .pairing--flipped {
        flex-direction: row-reverse;
    }
    .pairing>* {
        margin-left:1em;
    }
    .pairing>*>:first-child {
        margin-top:0;
    }
    .pairing>*>:last-child {
        margin-bottom:0;
    }
    .pairing__primary {
        width: 60%;
    }
    .pairing__secondary {
        width: 40%;
    }
}
